.card {
    width: 60%;
    height: 60%;
    margin: auto;
    border: outset #0A0F2F 5px;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #7475AD, #EFE3FD);
}

.card:hover {
    cursor: pointer;
}

.card h2 {
    font-size: 5rem;
    color: #000001;
    text-shadow: #0A0F2F 2px 2px 5px;
}

.card p {
    text-align: center;
    font-size: 1.2rem;
}

.card p a:hover {
    color: #000001;
    font-weight: 800;
}

.card p a {
    font-weight: 400;
    text-align: center;
    color: #0A0F2F;
    font-size: 1.3rem;
    text-decoration: none;
}

.card p strong.answer {
    color: #000001;
    font-size: 2rem;
    display: block;
    margin-bottom: 5px;
}

.card aside {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    padding: 5px;
    font-weight: 800;
}