/*
  Thanks paleton.com for generating colours with better taste than I.
  black: #000001
  dark blue: #0A0F2F
  less dark blue: #0A0F2F
  medium blue: #1F366F
  light blue: #7475AD
  somewhat white: #EFE3FD;
 */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

main.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #EFE3FD;
}

main.app header {
  text-align: center;
  flex: 2;
  background-image: linear-gradient(to bottom right, #7475AD, #1F366F);
  font-size: 1.4rem;
  color: #EFE3FD;
}

main.app header h1{
  margin: 5px 0;
  text-shadow: #0A0F2F 1px 1px 2px;
}

main.app header small{
  color: #000001;
  font-weight: 800;
  font-size: 1.3rem;
}

section.container {
  display:flex;
  flex: 9;
}

section.container nav {
  flex: 1;
}

section.container section {
  align-items: center;
  flex: 4;
}

section.container button:hover {
  cursor: pointer;
}

section.container button:active {
  color: #0A0F2F;
  background: #7475AD;
}

section.container button {
  width: 50%;
  margin: auto;
  display: block;
  margin-top: 10px;
  border-radius: 0px;
  color: #EAE5FD;
  background: #0A0F2F;
  border: solid 1px #0A0F2F;
  padding: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 800;
}