nav {
    padding: 10px;
}

nav h3 {
    text-transform: uppercase;
}

ul.categories {
    list-style: none;
}

ul.categories li:hover {
    cursor: pointer;
}

ul.categories li {
    border: #000001 solid 1px;
    color: #000001;
    padding: 5px;
    margin-bottom: 5px;
    background: #EFE3FD;
    transition: all 200ms ease-in-out;
    font-weight: 400;
    margin-right: 10px;
}

ul.categories li.enabled {
    border: #000001 solid 1px;
    color: #EFE3FD;
    background: #0A0F2F;
    font-weight: 800;
    margin-right: 0;
}